body,td,th {
	font-size: 14px;
}

body, div, p,img,dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, blockquote {
	padding:0px;
	margin:0px;
}

h1{
    text-align:center;
    color: #931916;
    font-size: 350%;
    font-family: 华文楷体;}

h3{
	font-size:14px;}

li{
	list-style-type:none;}

img{border:0; 
	}

a{color:#333333;text-decoration:none;}
a:hover {text-decoration:underline;color:#931916;}
a:active{text-decoration:underline;}

.LineLink a{text-decoration:underline;}
.LineLink a:hover {text-decoration:none;color:#931916;}

.ColorLink a {color:#931916;}
.ColorLink a:hover {color:#931916;}

p{
	line-height:180%;}

#wrapper{
	width:100%;
	margin:auto;}
	
#wrapper #head .top{
	width:100%;
	height:120px;
	font-size:12px;
	background-color:#212121;
	}	
#wrapper #head .top .TopInfo{
	margin:auto;
	width:980px;
	} 
#wrapper #head .top .TopInfo .link{
	text-align:center;
	line-height:23px;
	width:207px;
	float:right;
	color:#999999;}
#wrapper #head .top .TopInfo .link a{
	color:#931916;}	
#wrapper #head .top .TopLogo{
	margin:auto;
	width:980px;
	padding-top:30px;
	}
#wrapper #head .top .TopLogo .logo{
	float:left;
	height:62px;
	width:288px;}

#wrapper #head .top .TopLogo .tel{
	float:right;
	width:690px;
	padding-top:20px;} 

#wrapper #head #NavLink{
	width:680px;
	height:30px;
	margin:auto;
	}
#wrapper #head #NavLink .NavBG{
	height:30px;
	width:680px;
	position:absolute;
	z-index:100;}	
		
#wrapper #head #NavLink #sddm{
	width:680px;
	margin:auto;
	z-index:30}

#wrapper #head #NavLink #sddm li{
	float: left;
	font-weight:bold;}
#wrapper #head #NavLink #sddm .CurrentLi a{
	background:none;
	}	
#wrapper #head #NavLink #sddm li a
{	display: block;
	width: 91px;
	color: #FFF;
	text-align: center;
	padding:0 10px;
	line-height:30px;
	font-size:14px;
	}

#wrapper #head #NavLink #sddm li a:hover
{	text-decoration:none;
	background-color:#DDDDDD;
	color:#931916;
	}

#wrapper #head #NavLink #sddm div
{	position: absolute;
	visibility: hidden;
	padding:0px 0px;
	}

#wrapper #head #NavLink #sddm div a
	{	position: relative;
		padding: 0px 10px;
		text-align: center;
		color: #931916;
		font-size:12px;
		font-weight:normal;
		text-decoration:none;
		line-height:30px;
		border-bottom:1px solid #fff;
		background-color:#FFFFFF;}

#wrapper #head #NavLink #sddm div a:hover{
	background: #931916;
	line-height:30px;
	border-bottom:1px solid #fff;
	color:#FFF;
	font-weight:bold;}

	
#wrapper #body{
	margin:auto;
	width:100%;
	}

#FocusBG{
	width:100%;
	height:488px;
	background-color: rgba(0,125,194,0.7);
    background-image: linear-gradient(rgb(65,130,235), rgb(9,184,252));
}

#Focus {width:980px; height:488px; overflow:hidden; margin:auto;}

#Focus #ifocus {
	POSITION: relative; WIDTH: 980px; HEIGHT: 488px
}
#Focus #ifocus_pic {
	POSITION: relative; WIDTH: 980px; DISPLAY: inline; FLOAT: left; HEIGHT: 488px; OVERFLOW: hidden
}
#Focus #ifocus_piclist {
	Z-INDEX: 1; POSITION: absolute
}
#Focus #ifocus_piclist LI {
	WIDTH: 980px; HEIGHT: 488px; OVERFLOW: hidden
}
#Focus #ifocus_piclist IMG {
	WIDTH: 980px; HEIGHT: 488px
}
#Focus #ifocus_btn {
	Z-INDEX: 3; POSITION: absolute; PADDING-LEFT: 3px; WIDTH: 980px; BOTTOM: 2px; HEIGHT: auto; LEFT: 0px; _bottom: 2px
}

#Focus #ifocus_btn LI {
	FILTER: alpha(opacity=50); PADDING-BOTTOM: 0px; MARGIN-TOP: 10px; PADDING-LEFT: 90px; WIDTH: auto; PADDING-RIGHT: 7px; DISPLAY: block; FLOAT: left; HEIGHT: auto; CURSOR: pointer; PADDING-TOP: 0px; opacity: 0.5; -moz-opacity: 0.5
}
#Focus #ifocus_btn IMG {
	BORDER-BOTTOM: #ffffff 1px solid; BORDER-LEFT: #ffffff 1px solid; WIDTH: 66px; HEIGHT: 33px; BORDER-TOP: #ffffff 1px solid; BORDER-RIGHT: #ffffff 1px solid
}
#Focus #ifocus_btn .current {
	TEXT-ALIGN: left; FILTER: alpha(opacity=100); MARGIN-TOP: 0px; DISPLAY: block; FLOAT: left; opacity: 1; -moz-opacity: 1
}
#Focus #ifocus_btn .current IMG {
	BORDER-BOTTOM: #fff 2px solid; BORDER-LEFT: #fff 2px solid; WIDTH: 74px; HEIGHT: 37px; BORDER-TOP: #fff 2px solid; BORDER-RIGHT: #fff 2px solid
}
#Focus #ifocus_opdiv {
	Z-INDEX: 2; POSITION: absolute; FILTER: alpha(opacity=50); WIDTH: 980px; BOTTOM: 0px; BACKGROUND: #000; HEIGHT: 45px; LEFT: 0px; opacity: 0.5; -moz-opacity: 0.5; _height: 45px
}
#Focus #ifocus_tx {
	Z-INDEX: 3; POSITION: absolute; BOTTOM: 8px; COLOR: #fff; LEFT: 8px
}
#Focus #ifocus_tx .normal {
	DISPLAY: none
}
#InnerFocus #FocusBG{
	height:10px;}

/*页脚*/
#footer{
	border-top:1px solid #000000;
	width:100%;
	height:100%;
	margin:auto;
	padding-bottom:30px;
	font-size:11px;
	color:#FFF;
	background-color:#212121;
	}
#footer a{
	color:#fff;}	
									
#footer .inner{
	margin:auto;
	width:980px;
	padding-top:20px;
	text-align:center;}
	
#footer .inner p{
	line-height:25px;}
/*页脚*/

/*版面框架css*/
 .header {font: 12px Arial, Tahoma !important;font-weight: bold !important;font: 11px Arial, Tahoma;font-weight: bold;color: #154BA0;background:#C2DEED;height: 25px;padding-left: 10px;
}
 .header td {padding-left: 10px;}
 .header a {color: #154BA0;}
 .header input {background:none;vertical-align: middle;height: 16px;}
 .category {font: 12px Arial, Tahoma !important;font: 11px Arial, Tahoma;color: #92A05A;height:20px;background-color: #FFFFD9;}
 .category td {border-bottom: 1px solid #DEDEB8;}
 .expire, .expire a:link, .expire a:visited {color: #999999;}
 .default, .default a:link, .default a:visited {color: #000000;}
 .checked, .checked a:link, .checked a:visited {color: #FF0000;}
 /*版面框架css*/