.mingyan {
    font-family: 华文楷体;
    font-size: 24px;
    text-align: center;
}

.head {
    margin-bottom: 46px;
}

.visit {
    margin-left: 20px;
    text-align: left;
    height: 14px;
    color: #DDDDDD;
    font-family: 华文楷体;
    font-size: large;
}

.center {
    text-align: center;
}

.infor {
    font-size: 16px;
    text-align: center;
    font-family: 华文宋体;
    color: #931916;
}

.infob {
    font-size: 16px;
    text-align: center;
    font-family: 华文宋体;
    color: #000080;
}

.caption {
    text-align: center;
    color: #931916;
    font-size: 350%;
    font-family: 华文楷体;
}

.content {
    line-height: 10;
    margin: 50 auto;
    font-weight: 600;
    font-size: 20px;
    font-family: 华文楷体;
}

.photoclick {
    text-align: center;
    font-weight: 600;
    font-family: 华文楷体;
    font-size: large;
}

.about {
    font-size: x-large;
    font-family: 楷体;
}

.about2 {
    font-size: large;
    font-family: 等线;
    line-height: 1.4;
}

.infolink {
    border-style: solid;
    border-width: 1px;
    text-align: center;
    font-size: 200%;
    color: black;
}

.end {
    font-family: 华文楷体;
    font-weight: 600;
    font-size: x-large;
    text-align: center;
}

.thingstitle {
    text-align: center;
    font-family: 华文楷体;
    font-size: xx-large;
}

.price {
    text-align: center;
    font-family: 新宋体;
    font-size: x-large;
}

.yuanjia {
    font-size: medium;
    text-decoration: line-through;
    color: gray;
}

.infortable{
    border-style: solid;
    border-width: 1px;
    text-align: center;
    font-size: 300%;
    font-family: 华文楷体;
}
.infortables{
    text-align: center;
    font-size: 80%;
}

.infortable1{
    text-align: center;
    font-size: 200%;
}

.fillh{
    height: 20px;
}

.button {
    min-height: 1.5em;
    display: inline-block;
    padding: 12px 36px;
    margin: 40px 5px 5px 0px;
    cursor: pointer;
    opacity: 0.9;
     
    color: #FFF;
    font-size: 1em;
    letter-spacing: 1px;
    text-shadow: rgba(0,0,0,0.9) 0px 1px 2px;
     
    background: #434343;
    border: 1px solid #242424;
    
    border-radius: 4px;
    box-shadow: rgba(255,255,255,0.25) 0px 1px 0px, inset rgba(255,255,255,0.25) 0px 1px 0px, inset rgba(0,0,0,0.25) 0px 0px 0px, inset rgba(255,255,255,0.03) 0px 20px 0px, inset rgba(0,0,0,0.15) 0px -20px 20px, inset rgba(255,255,255,0.05) 0px 20px 20px;
    transition: all 0.1s linear;
}

.button:hover {
    box-shadow: rgba(0,0,0,0.5) 0px 2px 5px, inset rgba(255,255,255,0.25) 0px 1px 0px, inset rgba(0,0,0,0.25) 0px 0px 0px, inset rgba(255,255,255,0.03) 0px 20px 0px, inset rgba(0,0,0,0.15) 0px -20px 20px, inset rgba(255,255,255,0.05) 0px 20px 20px;
}

.shine {
    display: block;
    position: relative;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#00ffffff',GradientType=1 );
    background: linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 50%,rgba(255,255,255,0) 100%);
    padding: 0px 12px;
    top: -12px;
    left: -24px;
    height: 1px;
    box-shadow: rgba(255,255,255,0.2) 0px 1px 5px;
    transition: all 0.3s ease-in-out;
}

.buttonfont{
    font-family: 华文楷体;
    font-size: 24px;
    text-align: center;
    color: #fff;
}