.mingyan {
    font-family: 华文楷体;
    font-size: 24px;
    text-align:center;
}

.head {
    margin-bottom: 46px;
}

.visit {
    margin-left: 20px;
    text-align: left;
    height: 14px;
    color: #DDDDDD;
    font-family: 华文楷体;
    font-size: large;
}

.center {
    text-align: center;
}

.infor{
    font-size: 16px;
    text-align: center;
    font-family: 华文宋体;
    color: #931916;
}

.infob{
    font-size: 16px;
    text-align: center;
    font-family: 华文宋体;
    color: #000080;
}

.caption {
    text-align:center;
    color: #931916;
    font-size: 350%;
    font-family: 华文楷体;
 }

 .content{
    line-height: 10;
    margin: 50 auto;
    font-weight: 600;
    font-size: 20px;
    font-family: 华文楷体;
 }

 .photoclick{
    font-weight: 600;
	font-family: 华文楷体;
	font-size: large;
 }

 .about{
    font-size: x-large;
    font-family: 楷体;
 }

 .about2{
    font-size: large;
    font-family: 等线;
    line-height: 1.4;
 }

 #grad {
    background-color: rgba(0,125,194,0.7);
    background-image: linear-gradient(rgb(0,125,194), rgba(77,195,233,0.6));
}

.infolink{
	border-style: solid;
	border-width: 1px;
	text-align: center;
	font-size: 200%;
    color: black;
}

.end{
    font-family: 华文楷体;
    font-weight: 600;
    font-size: 20px;
    text-align:center;
}