.mingyan {
    font-family: 华文楷体;
    font-size: 24px;
    text-align:center;
}

.head {
    margin-bottom: 46px;
}

.visit {
    margin-left: 20px;
    text-align: left;
    height: 14px;
    color: #DDDDDD;
    font-family: 华文楷体;
    font-size: large;
}

.center {
    text-align: center;
}

.infor{
    font-size: 16px;
    text-align: center;
    font-family: 华文宋体;
    color: #931916;
}

.infob{
    font-size: 16px;
    text-align: center;
    font-family: 华文宋体;
    color: #000080;
}

.caption {
    text-align:center;
    color: #931916;
    font-size: 300%;
    font-family: 华文楷体;
 }