
/* top start*/
body,td,th {
	font-size: 14px;
}

img, div { behavior: url(/images/iepng/iepngfix.htc); }

body, div, p,img,dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, blockquote {
	padding:0px;
	margin:0px;
}
.FontRed{
	color:#FF0000;}
h3{
	font-size:14px;}

li{
	list-style-type:none;}

img{border:0; 
	}
.gray{
	color:#666666;}
a{color:#333333;text-decoration:none;}
a:hover {text-decoration:underline;color:#931916;}
a:active{text-decoration:underline;}

.LineLink a{text-decoration:underline;}
.LineLink a:hover {text-decoration:none;color:#931916;}

.ColorLink a {color:#931916;}
.ColorLink a:hover {color:#931916;}

.WidthTab{
	width:10px;
	height:1px;
	float:left;}
.WidthTab2{
	width:10px;
	height:1px;
	float:left;}	
.HeightTab{
	height:10px;
	width:1px;
	overflow:hidden;}

p{
	line-height:180%;}

.ListDate{
	color:#666666;
	 }
body{
	font-family:"Microsoft Yahei",Arial, Helvetica, sans-serif;
}

#wrapper{
	width:100%;
	margin:auto;}
	
#wrapper #head .top{
	width:100%;
	height:120px;
	font-size:12px;
	background-color:#212121;
	}	
#wrapper #head .top .TopInfo{
	margin:auto;
	width:980px;
	} 
#wrapper #head .top .TopInfo .link{
	text-align:center;
	line-height:23px;
	width:207px;
	float:right;
	color:#999999;}
#wrapper #head .top .TopInfo .link a{
	color:#931916;}	
#wrapper #head .top .TopLogo{
	margin:auto;
	width:980px;
	padding-top:30px;
	}
#wrapper #head .top .TopLogo .logo{
	float:left;
	height:62px;
	width:288px;}

#wrapper #head .top .TopLogo .tel{
	float:right;
	width:690px;
	padding-top:20px;} 

/* navs*/
#wrapper #head #NavLink{
	width:680px;
	height:30px;
	margin:auto;
	}
#wrapper #head #NavLink .NavBG{
	height:30px;
	width:680px;
	position:absolute;
	z-index:100;}	
		
#wrapper #head #NavLink #sddm{
	width:680px;
	margin:auto;
	z-index:30}

#wrapper #head #NavLink #sddm li{
	float: left;
	font-weight:bold;}
#wrapper #head #NavLink #sddm .CurrentLi a{
	background:none;
	}	
#wrapper #head #NavLink #sddm li a
{	display: block;
	width: 91px;
	color: #FFF;
	text-align: center;
	padding:0 10px;
	line-height:30px;
	font-size:14px;
	}

#wrapper #head #NavLink #sddm li a:hover
{	text-decoration:none;
	background-color:#DDDDDD;
	color:#931916;
	}

#wrapper #head #NavLink #sddm div
{	position: absolute;
	visibility: hidden;
	padding:0px 0px;
	}

#wrapper #head #NavLink #sddm div a
	{	position: relative;
		padding: 0px 10px;
		text-align: center;
		color: #931916;
		font-size:12px;
		font-weight:normal;
		text-decoration:none;
		line-height:30px;
		border-bottom:1px solid #fff;
		background-color:#FFFFFF;}

#wrapper #head #NavLink #sddm div a:hover{
	background: #931916;
	line-height:30px;
	border-bottom:1px solid #fff;
	color:#FFF;
	font-weight:bold;}

	
#wrapper #body{
	margin:auto;
	width:100%;
	}
	
/*Focus*/
#FocusBG{
	width:100%;
	height:488px;
	background:url("/images/HituxBlue/focus_bg.png") repeat-x center top;	}

#Focus {width:980px; height:488px; overflow:hidden; margin:auto;}

#Focus #ifocus {
	POSITION: relative; WIDTH: 980px; HEIGHT: 488px
}
#Focus #ifocus_pic {
	POSITION: relative; WIDTH: 980px; DISPLAY: inline; FLOAT: left; HEIGHT: 488px; OVERFLOW: hidden
}
#Focus #ifocus_piclist {
	Z-INDEX: 1; POSITION: absolute
}
#Focus #ifocus_piclist LI {
	WIDTH: 980px; HEIGHT: 488px; OVERFLOW: hidden
}
#Focus #ifocus_piclist IMG {
	WIDTH: 980px; HEIGHT: 488px
}
#Focus #ifocus_btn {
	Z-INDEX: 3; POSITION: absolute; PADDING-LEFT: 3px; WIDTH: 980px; BOTTOM: 2px; HEIGHT: auto; LEFT: 0px; _bottom: 2px
}
UNKNOWN {
	BOTTOM: 5px
}
#Focus #ifocus_btn LI {
	FILTER: alpha(opacity=50); PADDING-BOTTOM: 0px; MARGIN-TOP: 10px; PADDING-LEFT: 90px; WIDTH: auto; PADDING-RIGHT: 7px; DISPLAY: block; FLOAT: left; HEIGHT: auto; CURSOR: pointer; PADDING-TOP: 0px; opacity: 0.5; -moz-opacity: 0.5
}
#Focus #ifocus_btn IMG {
	BORDER-BOTTOM: #ffffff 1px solid; BORDER-LEFT: #ffffff 1px solid; WIDTH: 66px; HEIGHT: 33px; BORDER-TOP: #ffffff 1px solid; BORDER-RIGHT: #ffffff 1px solid
}
#Focus #ifocus_btn .current {
	TEXT-ALIGN: left; FILTER: alpha(opacity=100); MARGIN-TOP: 0px; DISPLAY: block; FLOAT: left; opacity: 1; -moz-opacity: 1
}
#Focus #ifocus_btn .current IMG {
	BORDER-BOTTOM: #fff 2px solid; BORDER-LEFT: #fff 2px solid; WIDTH: 74px; HEIGHT: 37px; BORDER-TOP: #fff 2px solid; BORDER-RIGHT: #fff 2px solid
}
#Focus #ifocus_opdiv {
	Z-INDEX: 2; POSITION: absolute; FILTER: alpha(opacity=50); WIDTH: 980px; BOTTOM: 0px; BACKGROUND: #000; HEIGHT: 45px; LEFT: 0px; opacity: 0.5; -moz-opacity: 0.5; _height: 45px
}
#Focus #ifocus_tx {
	Z-INDEX: 3; POSITION: absolute; BOTTOM: 8px; COLOR: #fff; LEFT: 8px
}
#Focus #ifocus_tx .normal {
	DISPLAY: none
}
#InnerFocus #FocusBG{
	height:10px;}

	
/* albumblock*/

 .albumblock{
	padding:10px 10px 30px 12px;
	float:left;
	}
 .albumblock .inner{
	width:170px;
	height:170px;
	position:relative;
	border:1px solid #dededc;
	overflow:hidden;
	margin:0}

.albumblock .inner img{
	border:2px solid #fff;
	width:166px;
	height:166px;	}	

 .albumblock .inner .albumtitle{
	height:25px;
	line-height:25px;
	font-size:12px;
	width:170px;
	background:#931916;
	position:relative;
	bottom:0px;
	left:0;
	color:#FFFFFF;
	font-weight:; 
	text-align:center;
	cursor:pointer;
	margin:auto;
	}
 .albumblock .inner .albumtitle span{
	font-weight:normal;
	font-size:12px;}	

 .albumblock .inner  a:hover{
	text-decoration:none;}
 .albumblock .inner  a:visited{
	text-decoration:none;}	
		
	

/*footer*/
#footer{
	border-top:1px solid #000000;
	width:100%;
	height:100%;
	margin:auto;
	padding-bottom:30px;
	font-size:11px;
	color:#FFF;
	background-color:#212121;
	}
#footer a{
	color:#fff;}										
#footer .inner{
	margin:auto;
	width:980px;
	padding-top:20px;
	text-align:center;}
#footer .inner p{
	line-height:25px;}

#wrapper  .t_page{
	padding:10px;
	text-align:center;
	font-size:12px;
	line-height:25px;
	
	}	
#wrapper  .t_page a{
	padding:2px 5px;
	border:1px solid #DEDEDC;
	margin:0px 3px;}	


/* date css*/		
 .header {font: 12px Arial, Tahoma !important;font-weight: bold !important;font: 11px Arial, Tahoma;font-weight: bold;color: #154BA0;background:#C2DEED;height: 25px;padding-left: 10px;
}
 .header td {padding-left: 10px;}
 .header a {color: #154BA0;}
 .header input {background:none;vertical-align: middle;height: 16px;}
 .category {font: 12px Arial, Tahoma !important;font: 11px Arial, Tahoma;color: #92A05A;height:20px;background-color: #FFFFD9;}
 .category td {border-bottom: 1px solid #DEDEB8;}
 .expire, .expire a:link, .expire a:visited {color: #999999;}
 .default, .default a:link, .default a:visited {color: #000000;}
 .checked, .checked a:link, .checked a:visited {color: #FF0000;}
 .today, .today a:link, .today a:visited {color: #00BB00;}
 #calendar_year {display: none;line-height: 130%;background: #FFFFFF;position: absolute;z-index: 10;}
 #calendar_year .col {float: left;background: #FFFFFF;margin-left: 1px;border: 1px solid #86B9D6;padding: 4px;}
 #calendar_month {display: none;background: #FFFFFF;line-height: 130%;border: 1px solid #86B9D6;padding: 4px;position: absolute;z-index: 11;}
 #year,#month{padding:0 10px;background:#fff;}	


/* SearchBar */

.SearchBar {
	padding:10px 10px 0px 13px;
}

.SearchBar #search-text {
	width: 140px;
	padding:0px 5px;
	border: 1px solid #931916;
	margin:0px;
	color:#999999;
	height:23px;
	line-height:23px;
	font-size:12px;
}

.SearchBar #search-submit {
	border:none;
	background: #931916;
	font-size:12px;
	color: #FFFFFF;
	height:25px;
	margin:0px;	
	cursor:pointer;
	padding:0px;
	line-height:25px;
}

/* search content */
#search_content .searchtip{
	line-height:25px;
	font-size:14px;
	font-weight:bold;
	padding-left:10px;
	BORDER-bottom: #023848 1px solid;
	padding-top:10px;
}

#search_content .result_list{
	padding:10px 10px;
	width:100%;}
	
#search_content .result_list dt{
	font-size:14px;
	font-weight:bold;
	padding-top:10px;
	line-height:25px;
	font-family:Microsoft Yahei;}	

#search_content .result_list dd{
	padding:0 0 5px 0;
	margin:0px;
	line-height:20px;
	}	

#search_content .result_list .line {
	BORDER-bottom: #E9E8E8 1px dashed;}	

#search_content .result_list .line a{
	padding-right:20px;}

#search_content .result_list .line a:hover{
	text-decoration:none;}			
	
#search_content .search_welcome{
	line-height:25px;
	text-align:center;
	}
#search_content .search_welcome p{
	text-align:center;}		
#search_content .result_page{
	text-align:center;
	font-size:13px;
	padding:10px;}

#search_content .result_page span{
	font-size:12px;
	font-family:arial;
	padding:0 5px;
	}	

#dark_footer .box_240px_left {
	width:143px;
	padding-right: 42px;
	padding-top: 0px;
	background-image: none;
	padding-bottom:0px;
	float:left;
}
#dark_footer .box_240px_left h2{
	font-size:14px;
	border-bottom:1px dotted #999;
	color:#FFF;
	padding-bottom:10px;}
#dark_footer .box_240px_left li{
	line-height:250%;
	font-size:12px;}
#dark_footer .box_240px_middle {
	padding: 0px 42px;
	background-image: none;
}
#dark_footer .box_240px_right {
	padding-left: 42px;
	padding-top: 0px;
	background-image: none;
}
#dark_footer_wrap {
	background-color:#931916;
	overflow: hidden;
	padding:20px 0px;
}
#dark_footer {
	width: 940px;
	margin: 0 auto;
	padding-top: 20px;
	padding-bottom: 20px;
	overflow: hidden;
	color#FFF;
}
#light_footer_wrapper {
	font-size:12px;
	padding:10px;
	height:100px;
	
}
.box_240px_right li {
	display: inline;
}
#dark_footer li a{
	color:#FFF;}




/* clearfix */
.clearfix:after{
	content:" ";
	display:block;
	visibility:hidden;
	height:0;
	clear:both;
}
.clearfix {
	clear:both;
}
.clearbox {
	clear:both; 
	width:996px; 
	margin:0 auto; 
	height:0; 
	overflow:hidden;}
.clear { 
	height:1%; 
	overflow:hidden; }
	
 				
