

/* main block*/
#body .MainBlock{
	font-size:12px;
	width:980px;
	margin:auto;}
#body .MainBlock .left{
	float:left;
	width:420px;
	height:260px;
	overflow:hidden;
	}
#body .topic{
	height:35px;
	line-height:35px;
	border-bottom:2px solid #dddddd;
}
#body   .topic .TopicTitle{
	float:left;
	font-weight:bold;
	padding:0px 10px;
	font-size:14px;
	color:#931916;
	height:35px;
	border-bottom:2px solid #931916;}
#body   .topic .TopicMore{
	float:right;
	font-size:12px;
	padding-right:10px;
	padding-top:13px;}
#body   .topic .TopicMore img{
	}				
	
#body  .left  #MBlockTable td{
	line-height:26px;
	padding-left:10px;
	font-size:12px;
}
#body .MainBlock .left  #MBlockTable span{
	color:#931916;
	padding-left:10px;
	font-size:12px;
	font-weight:bold;
	}
#body .MainBlock .right{
	width:530px;
	float:right;
	height:260px;
	overflow:hidden;
	}
#body .MainBlock .right .img{
	 line-height:200%;
	 padding:10px;}
#body .MainBlock .right .img .albumblock {
	padding:10px 20px 5px 30px;
	}

#body .MainBlock .right .img .albumblock .inner{
	width:120px;
	height:120px;}

#body .MainBlock .right .img .albumblock .inner img{
	width:116px;
	height:116px;}

#body .MainBlock .right .img .albumblock .inner .albumtitle{
	width:120px;}


#body .ProductBG{
	height:auto;
	background:url("/images/hituxblue/pro_bg.gif") repeat-x left top;
	} 
#body .ProductShow {
	WIDTH: 980px; 
	font-size:12px;
	padding-top:10px;
}

#body .ProductShow .blk_29 {	 PADDING:0px 0px; OVERFLOW: hidden;  ZOOM: 1; POSITION: relative;}
	
#body .ProductShow .blk_29 .LeftBotton {	BACKGROUND: url(/images/hituxblue/prev1.png) no-repeat -1px 0px; LEFT: 0px; FLOAT: left; WIDTH: 35px; CURSOR: pointer; POSITION: absolute; TOP: 80px; HEIGHT: 114px}
#body .ProductShow .blk_29 .RightBotton {	RIGHT: 5px; BACKGROUND: url(/images/hituxblue/prev2.png) no-repeat -0px 0px; FLOAT: right;right:0px; WIDTH: 35px; CURSOR: pointer; POSITION: absolute; TOP: 80px; HEIGHT: 114px}
#body .ProductShow .blk_29 .Cont {	MARGIN: 0px auto; OVERFLOW: hidden;  PADDING:15px 0 0 0px;float:left;height:200px;width:888px;POSITION: relative;left:45px;}
#body .ProductShow .blk_29 .box {	FLOAT: left; WIDTH: 222px; TEXT-ALIGN: center;}
#body .ProductShow .blk_29 .box IMG {	BORDER: #CCC 1px solid; PADDING: 3px; DISPLAY: block; BACKGROUND: #fff; PADDING-BOTTOM: 3px; MARGIN: 0px auto; width:155px;height:155px;}
#body .ProductShow .blk_29 .box A:hover IMG {	BORDER: #333 1px solid;text-decoration:none;}
#body .ProductShow .blk_29 .box P {	WIDTH: 222px; LINE-HEIGHT: 20px;text-align:center;font-size:12px;color:#931916}

#body .ProductShow .blk_29 .box a:hover{
	text-decoration:none;}

.hjc {
	
}
.hjnav {
	BACKGROUND-COLOR: #fff; HEIGHT: 428px;
	overflow:hidden;
}
.hjnavleft {
	WIDTH: 148px; FLOAT: left; HEIGHT: 429px;
	overflow:hidden;
}
.hjnavleft UL {
}
.hjnavleft UL LI {
	LINE-HEIGHT: 42px; 
	PADDING-LEFT: 36px; 
	HEIGHT: 42px;
	width:112px;
	background:url(/images/Hituxblue/box_bg3.jpg) no-repeat -10px top;	
	border-bottom:1px solid #dddddd;
}

.hjnavleft UL LI a:hover{
	text-decoration:none;}
.hjnavleft UL LI.hover0 {
	BACKGROUND:#196ba7;
}
.hjnavleft UL LI.hover0  a{
	color:#FFFFFF;
	font-weight:bold;}
.hjnavleft UL LI.hover1 {
	BACKGROUND:#196ba7;
}
.hjnavleft UL LI.hover1  a{
	color:#FFFFFF;	
	font-weight:bold;}
.hjnavleft UL LI.hover2 {
	BACKGROUND:#196ba7;
}
.hjnavleft UL LI.hover2  a{
	color:#FFFFFF;	
	font-weight:bold;}
.hjnavleft UL LI.hover3 {
	BACKGROUND:#196ba7;
}
.hjnavleft UL LI.hover3  a{
	color:#FFFFFF;	
	font-weight:bold;}
.hjnavleft UL LI.hover4 {
	BACKGROUND:#196ba7;
}
.hjnavleft UL LI.hover4  a{
	color:#FFFFFF;	
	font-weight:bold;}
.hjnavleft UL LI.hover5 {
	BACKGROUND:#196ba7;
}
.hjnavleft UL LI.hover5  a{
	color:#FFFFFF;	
	font-weight:bold;}
.hjnavleft UL LI.hover6 {
	BACKGROUND:#196ba7;
}
.hjnavleft UL LI.hover6  a{
	color:#FFFFFF;	
	font-weight:bold;}
.hjnavleft UL LI.hover7 {
	BACKGROUND:#196ba7;
}
.hjnavleft UL LI.hover7  a{
	color:#FFFFFF;	
	font-weight:bold;}
.hjnavleft UL LI.hover8 {
	BACKGROUND:#196ba7;
}
.hjnavleft UL LI.hover8  a{
	color:#FFFFFF;	
	font-weight:bold;}
.hjnavleft UL LI.hover9 {
	BACKGROUND:#196ba7;
}
.hjnavleft UL LI.hover9  a{
	color:#FFFFFF;	
	font-weight:bold;}
.hjnavleft UL LI.hover10 {
	BACKGROUND:#196ba7;
}
.hjnavleft UL LI.hover10 a{
	color:#FFFFFF;	
	font-weight:bold;}
.hjnavleft UL LI.hover11{
	BACKGROUND:#196ba7;
}
.hjnavleft UL LI.hover11 a{
	color:#FFFFFF;	
	font-weight:bold;}

.hjnavcn {
	WIDTH: 820px; FLOAT: left; HEIGHT: 430px; OVERFLOW: hidden;
	border-left:1px solid #dddddd;
}
.f {
	PADDING-BOTTOM: 10px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 10px
}
.dcn {
	PADDING-BOTTOM: 10px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 10px
}
.shengming {
	PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 10px
}
.cfr H5 IMG {
	DISPLAY: block
}
.cfr UL LI.tenlion IMG {
	DISPLAY: block
}
.jdcenter IMG {
	DISPLAY: block
}
.cfr UL LI IMG {
	DISPLAY: none
}
.cfr UL LI.tenlion P {
	DISPLAY: none
}
.hjone {
	PADDING-BOTTOM: 10px; LINE-HEIGHT: 22px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; HEIGHT: 158px; PADDING-TOP: 10px
}
.hjone P {
	PADDING-BOTTOM: 5px; TEXT-INDENT: 2em
}


#body #Links {
	padding:20px 0px;
	line-height:25px;
	font-size:12px;}
#body #Links span{
	font-weight:bold;}

#body #Links a{
	padding:0px 7px;}	